@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root {
   --desaturated-red: hsl(0, 36%, 70%);
   --soft-red: hsl(0, 93%, 68%);
   --dark-grayish-red:  hsl(0, 6%, 24%);
}
* {
   box-sizing: border-box; 
   margin: 0;
   padding: 0;
   font-family: 'Josefin Sans', sans-serif;
}
body {
   background: url(./images/bg-pattern-desktop.svg), 
   linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}
.apparel-main-section {
   display: grid;
   grid-template-columns: 1fr;
   padding-bottom: 5rem;
}
@media (min-width: 40rem) {
   .apparel-main-section {
      grid-template-columns: 55% 1fr;
      grid-template-rows: auto auto 20rem;
      padding-bottom: 0;
      justify-items: center;
   } 
}
@media(min-width: 40rem) {
   .apparel-header,
   .apparel-intro,
   .apparel-form {
      grid-column: 1 / 2;
   }
}
@media(min-width: 40rem) {
   .apparel-hero-img {
      grid-column: 2 / 3;
      grid-row: 1 / 4;
   }
}
.apparel-header {
   padding: 2rem;
}
@media(min-width: 40rem) {
   .apparel-header {
      margin-top: 2rem;
      padding: 0;
   }
}
.apparel-header .apparel-logo {   
   width: 7rem;
}
@media(min-width: 40rem) {
   .apparel-header .apparel-logo {
      width: 8rem;
   }
}
.apparel-hero-img {
   display: grid;
   justify-items: stretch;
}
@media(min-width: 40rem) {
   .apparel-hero-img {
      align-items: stretch;
   }
}
.apparel-intro {
   display: grid;
   padding: 3rem 2rem 2rem;
   justify-items: center;
   color: var(--desaturated-red);
}
@media(min-width: 40rem) {
   .apparel-intro {
      display: block;
      padding: 0;
      padding: 0;
   }
}
.apparel-intro h1 {
   font-size: 2rem;
   text-transform: uppercase;
   width: min-content; 
   letter-spacing: 0.5rem;
   font-weight: 300;
   line-height: 1.2;
   text-align: center;
}
@media(min-width: 40rem) {
   .apparel-intro h1 {
      text-align: left;
      font-size: 3.5rem;
   }
}
.apparel-intro strong {
   font-weight: 600;
   color: #413a3a;
}
.apparel-intro p {
   padding-top: 1rem;
   max-width: 19rem;
   text-align-last: center;
   line-height: 1.5; 
   font-size: 0.85rem;
}
@media(min-width: 40rem) {
   .apparel-intro p {

   }
}
.apparel-form div {
   display: flex;
   padding-left: 2rem;
}
@media(min-width: 40rem) {
   .apparel-form div {
      padding-left: 0;
      justify-content: space-between;
   }
}
.apparel-form .apparel-input {
   padding: 0.65rem 2rem;
   width: 100%;
   border-radius: 1.5rem;
   border: 1px solid #ccc;
   font-size: 1rem;
   background-color: transparent;
}
@media(min-width) {
   .apparel-form .apparel-input {
      width: 100%;
   }
}
.apparel-form .apparel-input::placeholder {
   color: var(--desaturated-red);
   font-size: 0.85rem;
}
.apparel-form button {
   position: relative;
   right: 3rem;
   padding: 0.65rem 2rem;
   border-radius: 1.5rem;
   background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
   border: none;
   transition-property: background-image;
   transition-duration: 0.5s;
   transition-timing-function: ease-in;
}
.apparel-form button:hover {
   background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 70%, 68%));
}
